<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Weather Journal</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
</head>
 <body>
<div id = "Travel App">
  <div class ="headline">
Travel App!
  </div>
  <div class ="location">
    <label for="location">Enter Travel Locations here</label>
    <input type="text" id="location" placeholder="enter city here">
  </div>
  <div class="date-arrive">
      <form action="/action_page.php">
        Date Arrive: <input type="date" name="arrive">
      </form>      
    </div>
    <div class="date-arrive">
        <form action="/action_page.php">
          Date Depart: <input type="date" name="depart">
        </form>   
    <br>
    <input type="submit">
      <p>
        Latitude: <span class="latitude"></span><br>
        Longitude: <span class="Longitude"></span>
      </p>



        <div>Trip starts in <span id="time">XX</span> minutes!</div>
  </div>

</body>
</html>